.div1{
    background-color: red;
    border: 1px solid black;
    border-radius: 15px;
    min-height: 100px;
    max-width: 100px;
}
.div2{
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 15px;
    min-height: 100px;
    max-width: 100px;
}